ul{
list-style-type: none;
}

form input[type=submit]{
margin-bottom: 10px;
}

form input{
  text-align: center;
}

.addStudent {
  padding: 1px;
}

.addStudent p{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#menu{
  min-width: 400px;
}

#menu img{
  margin-top: 30px;
  width: 150px;
  height:50px;
  display: inline-block;
}

#menu img:hover{
cursor: pointer;
}

.addStudent{
  border-radius: 25px;
  min-width: 300px;
  min-height: 50px;
  background-color: gray;
  margin-top: 20px;
}
